<h1>Welcome to the Dojo Activity Center</h1>
@{
    ViewData["Title"] = "Log In / Registration";
}
<div>
    @{
        foreach(var error in ViewBag.errors)
        {
            if(@error.Errors.Count > 0)
            {
                <p>@error.Errors[0].ErrorMessage</p>
            }
        }
    }
</div>
<p>Login</p>
<form action="/login" method="post">
    <label for="emailInput">Email:</label>
    <input id="emailInput" type="text" name="email" value="" required>
    <label for="passInput">Password:</label>
    <input id="passInput" type="text" name="password" value="" required>
    <input type="submit" value="Login">
</form>
<p>Registration</p>
<form action="/register" method="post">
    <label for="FNameInput">First Name:</label>
    <input id="FNameInput" type="text" name="first_name" value="" required>
    <label for="LNameInput">Last Name:</label>
    <input id="LNameInput" type="text" name="last_name" value="" required>
    <label for="emilInput">Email:</label>
    <input id="emilInput" type="text" name="email" value="" required>
    <label for="passInput">Password:</label>
    <input id="passInput" type="text" name="password" value="" required>
    <label for="CpassInput">Confirm Password:</label>
    <input id="CpassInput" type="text" name="ConfirmPassword" value="" required>
    <input type="submit" value="Register">
</form>